@import url("https://fonts.googleapis.com/css?family=Amarante");

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

* {
  font-family: "Amarante";
  margin-left: 25px;
  margin-top: 10px;
}

.innerbox {
  background: linear-gradient(red, red 49%, black 49%, black 51%, white 51%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
h3 {
  margin-top: 20px;
  margin-left: 0px;
  text-align: center;
}
h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 10px;
}

.outerbox {
  background-color: black;
  height: 105px;
  width: 105px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: grow-and-shrink 1s;
}

/* .outerbox:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
} */

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  grid-template-columns: 200px 200px 200px 200px 200px;
}

.box {
  width: 150px;
  height: 200px;
  display: grid;
}

.pokebtn {
  width: 100px;
  animation: grow 0.5s;
}

.pokeText {
  animation: grow 0.5s;
}

.btn1 {
  position: fixed;
  top: 10px;
  right: 10px;

  background-color: lightcoral;
  box-shadow: 1px 1px 10px black;
  border: darkred 1px solid;
}

.btn2 {
  position: fixed;
  top: 10px;
  right: 150px;
  background-color: bisque;
  box-shadow: 1px 1px 10px black;
  border: yellow 1px solid;
}

button {
  background-color: bisque;
  box-shadow: 1px 1px 10px black;
  border: yellow 1px solid;
  height: 40px;
  width: 120px;
}

button:hover {
  background-color: aliceblue;
  cursor: pointer;
}
