<h1>Collection</h1>
<h3>Welcome to your pokemon collection, {{username}}!</h3>

<div class="center">
  <div class="grid">
    <div class="box" *ngFor="let poke of caughtPokemons">
      <h3 class="pokeText">{{poke.name}}</h3>
      <div class="outerbox">
        <div class="innerbox">
          <img src="{{poke.url}}" />
        </div>
      </div>
      <button (click)="releasePoke(poke)" class="pokebtn">
        Release {{poke.name}}
      </button>
    </div>
  </div>
</div>

<button (click)="logout()" class="btn1">Logout</button>
<button routerLink="/catalogue" class="btn2">Catalogue</button>
