@import url("https://fonts.googleapis.com/css?family=Amarante");
body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

h1 {
  font-size: 40px;
  margin-left: 30%;
}
.header{
  background-color: #c5b12b;
}
.error-msg{
  width: 200px;
  font-size: small;
  margin-left: 130px;
  color: #d42a00;

}

fieldset {
  margin-left: 40px;
  width: 400px;
  border: none;
  height: 50px;
}
button {
  margin-top: 10px;
  margin-left: 45%;
  background-color: #cc0000;
  color: black;
}
button:hover {
  background-color: #00ff00;
}
.btn2 {
  height: 30px;
  width: 50px;
  background-color: #3ec03e;
  box-shadow: 1px 1px 10px black;
  border: #68c568 1px solid;
  position: relative;
  bottom: 15px;
}

input {
  height: 35px;
  width: 200px;
  margin-top: 15px;
  margin-left: 100px;
  background-color: #ffde00;
}
* {
  font-family: "Amarante";
}
.log-form{
  align-items: center;
  margin-left: 30%;
}
body{
  justify-content: center;
  margin-left: 15%;
}
#pokemonpic{
  height:auto;
  width:auto;
}
footer {
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: #c5b12b;
  position: relative;
  bottom: 60px;
  width: 100%;
  height: 50px;
}
