<div class="header">
  <h1>Welcome to pokemon game</h1>
  <div>
    <div class="log-form">
      <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
        <fieldset>
          <input type="text" placeholder="Enter username..." id="name" name="name" ngModel #name="ngModel" required
            [ngClass]="{'is-valid': name.valid}" [ngClass]="{'is-invalid': name.valid}" minlength="3" />
        </fieldset>
        <div class="error-msg" *ngIf="name.errors && name.touched">
          <p class="username-req" *ngIf="name.errors?.['required']">Username required</p>
          <p class="username-short" *ngIf="name.errors?.['minlength']">
            Username too short, minimum of three letters
          </p>
        </div>
        <button class="btn2" type="submit" [disabled]="createForm.invalid">Login</button>
      </form>
     
    </div>
  </div>


</div>

<body>
  <img id="pokemonpic" src="https://images.nintendolife.com/12057e37053a0/pokemon-gotta-catch-em-all.900x.jpg">
</body>
<footer>
  <p>
    Made by
    <a target="_blank" href="https://gitlab.com/thumas"> tompa </a>
    and the 
    <a target="_blank" href="https://gitlab.com/klutcharn"> jock </a>
  </p>
 
</footer>