<h1>Catalogue page</h1>
<h4>Click any pokémon card to catch the pokémon</h4>
<div class="grid">
  <div
    class="box"
    *ngFor="let poke of pokemons; let id = index"
    (click)="clickPokemon(poke)"
  >
    <div class="innerbox">
      <img class="pokeimg" src="{{poke.sprites.front_default}}" />
      <div class="infotext">
        <h3 class="poketext">{{poke.name}}</h3>
        <h6 class="poketextsmall">Height: {{poke.height}}</h6>
        <h6 class="poketextsmall">Weight: {{poke.weight}}</h6>
      </div>
    </div>
  </div>
</div>

<button (click)="logout()" class="btn1">Logout</button>
<button routerLink="/trainer" class="btn2">Collection</button>
