@import url("https://fonts.googleapis.com/css?family=Amarante");

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes showPok {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Amarante";
}

.grid {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, 295px);
  animation: showPok 2s;
}

.box {
  width: 200px;
  height: 300px;
  display: grid;
}
.innerbox {
  position: relative;
  height: 275px;
  background-color: green;
  border: yellow 5px solid;
  margin-top: 20px;
}
.innerbox:hover {
  cursor: crosshair;
}

.innerbox:hover {
  background-color: brown;
}

.pokeimg {
  background-color: bisque;
  position: relative;
  left: 17%;
  top: 30px;
  box-shadow: 1px 1px 10px black;
  border: yellow 1px solid;
  height: 125px;
  width: 125px;
}

.pokeimg:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.poketext {
  font-size: 20px;
  position: relative;
  top: 5px;
  text-align: center;
}
.poketextsmall {
  font-size: 12px;
  position: relative;
  top: 10px;
  text-align: center;
}

.active {
  border: 1px solid black;
  padding: 1rem;
  background-color: aqua;
  cursor: pointer;
}

.not-active {
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}

.infotext {
  background-color: greenyellow;
  height: 75px;
  position: relative;
  top: 40px;
}

h1,
h4 {
  text-align: center;
}

button {
  height: 40px;
  width: 120px;
}

.btn1 {
  position: fixed;
  top: 10px;
  right: 10px;

  background-color: lightcoral;
  box-shadow: 1px 1px 10px black;
  border: darkred 1px solid;
}

.btn2 {
  position: fixed;
  top: 10px;
  right: 150px;
  background-color: bisque;
  box-shadow: 1px 1px 10px black;
  border: yellow 1px solid;
}

button:hover {
  background-color: aliceblue;
  cursor: pointer;
}
